$max-image-height: 280px;

.image 
{
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    background: #EEE;
    width:100%;
    height: $max-image-height;
    align-items: center;
    text-align:center;
    
    img 
    {
        position: relative;
        display: block;
        margin: auto;
        padding: 0;
        max-width: 100%;
        height: auto;
        user-select: none;
    }
}

.image.stretch
{
    img 
    {
        width: 100%;
        height: auto;
    }
}