@import "./../../../src/themes/constants.scss";

.profile-section
{
	display:block;
	overflow: hidden;
	width:100%;
	background-color: #fff;

	.profile-section-head
	{
		h2
		{
			font-size: 1.5rem;
			padding: 15px 15px 0 15px;
			margin:0;
		}
	}

	.profile-section-body
	{
		padding: 10px 15px 15px 15px;

		.photos-grid
		{
			display: flex;
			justify-content: left;
			align-items:start;
			flex-flow: row wrap;

			.photo
			{
				display: inline-flex;
				flex-grow: 0;
				flex-shrink:0;
				overflow: hidden;
				border-radius: 5px;
				margin: 0.5%;
			}
		}
	}
}
