@import "./../../../src/themes/constants.scss";
@import "./skeleton.scss";

$default-link-color: #333;
$default-link-hover-color: #37b;

.fw-n
{
  font-weight: normal;
}

body 
{
  background: #efefef;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;

  a {
    font-weight: bold;
    color: $default-link-color;
    text-decoration: none;
  }

  a:hover {
    color: $default-link-hover-color;

    span {
      text-decoration: underline;
    }
  }

  header
  {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 10000;
    background: $astrana-primary-color;
  }
}