@import "./../../../src/themes/constants.scss";

.profile-about
{
  display:block;
  overflow: hidden;
  width:100%;
  background-color: #fff;

  .profile-about-head
  {
    h2
    {
      font-size: 1.5rem;
      padding: 15px 15px 15px 15px;
      margin:0;
    }
  }

  .profile-about-body
  {
    padding: 10px 15px 15px 15px;


  }
}

.profile-about.stencil
{
  .profile-about-head,
  .profile-about-body
  {
    visibility: hidden;
  }
}