@import "./../../../src/themes/constants.scss";

header
{
  .wrapper {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button + button {
    margin-left: 10px;
  }
  
  h1 {
    font-weight: 900;
    font-size: 20px !important;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
  }
  
  .main-nav
  {
      display: inline-block;

    .nav-item
    {
      display: inline-block;
      overflow: hidden;
      padding:3px;
      margin:0px 3px;
      width:32px;
      height:32px;
      background-color: #fff;
      border-radius: 100%;
      text-align: center;
      border:none;

      .icon
      {
        font-size: 1.1rem;
      }
    }

    .instance-user
    {
      display: inline-block;
      overflow: hidden;
      width:32px;
      height:32px;
      margin:0px 3px;
      border:1px solid #fff;
    }
  }
}

.header-menu
{
	display: block;
	overflow: hidden;
	width: 90%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99999;
	margin:0;
	background-color: #fff;
	border: 1px solid $border-color-gray;
	box-shadow:  0px 7px 20px -4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 7px 20px -4px rgba(0, 0, 0, 0.5);
	user-select: none;

	.header-menu-header
	{
		display: block;
		width: 100%;
		font-size: 1.2rem;
		font-weight: bold;
		padding: 0.35rem 0.5rem;
		user-select: none;
	}

	.header-menu-scroll
	{
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
	}

	.navigation-menu
	{
		width:100%;
		font-size: 1rem;
		color: $color-verydarkgray;

		i
		{
			font-size: 1.2rem;
			background-color: $color-lightgray;
			padding: 0.25rem;
			border-radius: 100%;
			width:2rem;
			height:2rem;
			text-align: center;
		}

		a
		{
			font-weight: normal;
			color: $color-verydarkgray;
			border-radius: 0;
		}
	}

	.notifications-list
	{
		width:100%;
		border-bottom: 1px solid $border-color-gray;


	}

	.view-all-notifications
	{
		display: block;
		clear: both;
		width: 100%;
		text-align: center;
		
		a
		{
			display: inline-block;
			width: 100%;
			padding: 0.35rem 0.5rem;
		}
	}
}

.header-menu:focus
{
	outline: 0px none;
	border-color: $border-color-gray;
}

@media only screen and (min-width: $responsiveWidthLimitExtraSmall) and (max-width: $responsiveWidthLimitSmall) 
{
	.header-menu
	{
		width: 50%;
	}
}

@media only screen and (min-width: $responsiveWidthLimitSmall) and (max-width: $responsiveWidthLimitMedium) 
{
	.header-menu
	{
		width: 300px;
	}
}

@media only screen and (min-width: $responsiveWidthLimitMedium)
{
	.header-menu
	{
		width: 350px;
	}
}