.video 
{
    position: relative;
    display: block;
    overflow: hidden;
    user-select: none;
    background: #000;

    img 
    {
        display: block;
        width:100%;
    }
}


.stencil
{
	.video 
	{
		img
        {
            visibility: hidden;
        }

        .video-text-overlay
        {
            visibility: hidden;
        }
	}
}