.profile-posts
{
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    max-width: 600px;

    .load-indicator
    {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}